.card{
    img{
        min-height: 250px;
        max-height: 250px;
        object-fit: cover;
    }
    .button{
        text-decoration: none;
        border: 1px solid #0D83FB;
        border-radius: 5px;
        color: #0D83FB;
        outline: none;
        &:hover{
            background-color: #0D83FB;
            color: white;
        }
        &:active{
            background-color: #066cd3;
        }
    }
}